body{

}

#container{

	background: #DDEDF0;

}
article{
	background-color:  #DDEDF0;
	height: 100%;
}

#logo{
	width: 100%;
	height: 69px;
}
#imglogo{
	height: 100&;
}

#cod{
width: 40%;
text-align: center;
}
#nom{
	width: 50%;
	text-align: center;
}
#nota{
	width: 10%;
	text-align: center;
}
button{
	padding:
}
